In [1]:
import pandas as pd

In [2]:
# example from Pandas documentation: http://pandas.pydata.org/pandas-docs/stable/cookbook.html#multiindexing
df = pd.DataFrame({'row' : [0,1,2],
                   'One_X' : [1.1,1.1,1.1],
                   'One_Y' : [1.2,1.2,1.2],
                   'Two_X' : [1.11,1.11,1.11],
                   'Two_Y' : [1.22,1.22,1.22]}); df

   One_X  One_Y  Two_X  Two_Y  row
0    1.1    1.2   1.11   1.22    0
1    1.1    1.2   1.11   1.22    1
2    1.1    1.2   1.11   1.22    2