In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../src/data/multiline.tsv', sep='\t') # read tsv using pandas .read_csv attribute and setting the delimeter to tab (\t)

In [65]:
dateIndex = df.set_index('date')
df.head()

       date  New York  San Francisco  Austin
0  20111001      63.4           62.7    72.2
1  20111002      58.0           59.9    67.7
2  20111003      53.3           59.1    69.4
3  20111004      55.7           58.8    68.0
4  20111005      64.2           58.7    72.4

In [101]:
pvt = pd.pivot_table(df, columns='date', values=['New York', 'San Francisco', 'Austin'])

In [179]:
pvt.to_json('../src/data/multiline.json', orient='index')